.banner {
  position: relative;
  background-color: whitesmoke;
  height: 170px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: blueviolet;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.energyM {
  font-size: 36px;
  margin-right: 10px;
  position: absolute;
  left: 15px;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 34px;
  text-align: center;
  width: 100%;
}

body {
  background-color: whitesmoke;
}

.purple {
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 70px;
  background-color: aliceblue;
  display: flex;
  position: fixed;
  border-radius: 0px 0px 5px 5px;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #45484a;
}

div.menu a:hover {
  text-decoration: none;
  color: rgb(176, 91, 255);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

.titulo {
  width: 30%;
  height: 100%;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.titulo h1 {
  padding: 20px;
}

.primero {
  color: #45484a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.segundo {
  color: rgb(176, 91, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.menu ul li {
  display: inline-block;
  padding: 10px;
  margin-top: 15px;
}

.menu ul {
  padding: 1px 30px;
}

.menu {
  width: 100%;
  text-align: right;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.colorFondo {
  background: #ad69c9;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex-basis: 33%;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 5px;
}
.fa {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #555;
  color: #fff;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.fa:hover {
  background-color: #333;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

ul li {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0px;
}
.social img {
  width: 30px;
  height: 30px;
}

.social {
  display: flex;
}

.social li {
  margin-right: 10px;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  color: #222;
  font-size: 18px;
  transition: all 0.3s ease;
  margin: 10px;
}

.social a:hover {
  background-color: rgb(176, 91, 255);
  color: #fff;
  text-decoration: none;
}

.btn-inicio {
  background-color: #45484a;
  border-color: #ffffff;
}

.btn-inicio:hover {
  text-decoration: none;
  color: rgb(176, 91, 255) !important;
}
